.pagehead, #header, #footer, .gollum-minibutton, #gollum-footer, #markdown-help, #ajax-error-message, #logo-popup, #footer-push {
  display: none;
}

#wrapper #wiki-wrapper #head h1 {
  background: url("http://crononauta.com/themes/crononauta.com/images/logo-crononauta.png") no-repeat scroll 0 0;
  display: block;
  margin: 5px 0 0;
  padding: 20px 70px 0;
}
